.navbar-dark {
  background-color: #222 !important;
}

.navbar-brand {
  font-weight: 600;
  font-size: 20pt;
  margin-right: 2em;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  margin-right: 2em;
}

.navbar-toggler {
  margin-left: 2em;
}
